<div class="jumbotron">
  <center><h1>PJJAM Game stats</h1></center>
  <p>This webpage displays data on board games played by pjjam at Drexel University. Not all games we play are tracked but those that are are recorded using a google form. This page serves as a record of games, as well as a way to quickly view or stats for the purpose of trask talk</p>
  <center>
    <div class="btn-group" role="group" aria-label="...">
      <a href="https://docs.google.com/forms/d/1XSla-k8Q_SLdqd0IlSkbhvJSxcY3SCsYvaJPB5_UDHg/viewform"><button type="button" class="btn btn-default">Add Game</button></a>
      <a href="https://docs.google.com/spreadsheets/d/1FnSjft7BzlSBYemBB-KEOc03SjmBl52tYDkSF8FpXHk/edit?usp=sharing"><button type="button" class="btn btn-default">View Sheet</button></a>
    </div>
  </center>
</div>
 
